.user-admin .table{
    width: 100%;
}

.user-admin .table td,.user-admin .table th {
    border: none !important;
    cursor: pointer;
    align-content: center;
}


.user-admin .table img{
    width: 80px; 
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}