.color-common{
    color: #ff9307;
}

.background-color-common{
    background-color: #ff9307;
}

.background-color-common-2{
    background: linear-gradient(0deg, rgba(255, 186, 33, 0.5) 0%, rgba(255, 186, 33, 1) 100%);
}