.my-info .avatar-container{
    border-radius: 50%;
    width: 100%;
    text-align: center;
}

.my-info .avatar-container img{
    border-radius: 50%;
    width: 50%;
    object-fit: cover;
    border: 1px solid #d6d0d0;
    height: 242px;
}

.my-info  .upload-wrapper {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

 .my-info  .upload-wrapper input[type="file"] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

 /* .my-info  .upload-text {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px dashed #aaa;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
  } */